.footer {
  max-width: 880px;
  margin: 67px auto 36px auto;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter";
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 0 19px 36px;
  }
}