.profile {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 36px;
    font-family: Inter;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.profile__view {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; 
}
.profile__edit-avatar {
    padding: 0;
    background: url(../images/edit-profile-photo-icon.png) center no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.profile__img {
    display: flex;
    align-self: center;
    width: 135px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.profile__img:hover {
    opacity: 0.2;
}

.profile__description{
    margin: 0;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    column-gap: 18px;  
       
}
.profile__name {
    margin: 0;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__job {
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profile__edit-button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 24px;
    height: 24px;
    grid-column-start: 2;
    grid-row-start: 1;
    cursor: pointer;
    transition: 0.2s;
    opacity: 100%;
}

 .profile__edit-button-img{
    margin: 0;
    object-fit: cover;
 }
 .profile__edit-button:hover {
    opacity: 60%;
    transition: 0.2s;
}
 .profile__add-button {
    margin: 0;
    border-radius: 2px;
    border: 2px white solid;
    width: 150px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    transition: 0.2s;
    background-color: black;
    opacity: 100%;
 }
 .profile__add-img {
    margin: 0;
 }
 .profile__add-button:hover {
    opacity: 60%;
    transition: 0.2s;
}
 @media screen and (max-width: 970px){
    .profile {
        max-width: 600px;
        flex-direction: column;
    }
    .profile__view  {
        row-gap: 30px;
        flex-direction: column;
        padding-bottom: 36px;
    }
    .profile__description {
        row-gap: 14px;
    }
    .profile__description-job {
        text-align: center;

    }
    .profile__add-button {
        width: 282px;
    }
    
}

@media screen and (max-width: 660px) {
    .profile {
        max-width: 320px;
}
.profile__description-name {
    font-size: 22px;
}
.profile__description-job {
    font-size: 14px;
}
}