@import url(../styles/normalize.css);
@import url(../styles/inter.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);
.page {
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    background-color: black;
    min-height: 100vh;
}